#titleHeader{
    color: white;
}

html{
    background-color: gainsboro;
}

.parallax {
    /* The image used */
    background-image: url("https://www.gannett-cdn.com/-mm-/041dfe0f345aec31389b619a9702c21b3dde1a03/c=0-79-1400-870/local/-/media/2016/03/16/Phoenix/Phoenix/635937398680031940-0326-best-az-sunsets-5.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }